@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Poppins';
  box-sizing: border-box;
}
body
{
  background-color: #000;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5vw 0 5vw;
  background-color: #0a1eff;
  position: fixed;
  width: 100vw;
  z-index: 101;
  box-shadow: 0 5px 30px 0 rgba( 10, 30, 254, 0.6 );
}
#menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  align-items: center;
  font-weight: 300;
  text-align: center;
  margin: 0px 0px;
}
a{
  text-decoration: none;
}
#ativo{
  font-weight: 600;

}
#button-menu{
  background-color: #DFFD53;
  border: none;
  padding: 5px 15px;
  color: black;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
}
#braza-header{
  width: 150px;
}
#home {
background-color: #0a1eff;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
padding: 150px 100px;
padding-top: 200px;
z-index: 1;
}
#services{
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 50px;
}
h1{
  font-size: 4rem;
  font-weight: 500;
  max-width: 600px;
  line-height: 4rem;
}
h2{
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  padding-bottom: 10px;
}
p{
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0px;
  color: #999;
  word-spacing: 0.5px;
}
#services h2{
  padding-bottom: 30px;
}
#grade-services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
}
.caixa-service{
  width: 30%;
  padding: 50px 0;
}
.linha-caixa{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.linha-caixa h3{
  font-weight: 400;
  font-size:1.6rem;
  line-height: 1.6rem;
}
.imagem-caixa{
  width: 20%;
  height: auto;
  opacity: 50%;
}
.botao-caixa{
  background-color: #ff38b4;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  margin-top: 10px;
  font-size: 1.2rem;
  box-shadow: 0 0px 30px -5px #ff38b4;
  color: #fff;
  cursor: pointer;
}
.botao-caixa i{
  color: #fff;
  padding-left: 5px;
}

#empresa{
  background-color: #DFFD53;
  padding: 0vw 10px 0px 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#empresa h2{
  max-width: 600px;
  line-height: 3.1rem;
  font-size: 3.2rem;
  color: black;
  font-weight: 500;
}
#empresa a{
  color: #fff;
  background-color: #000;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 50px;
}


footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 90px;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec
{
    margin-right: 30px;
}
footer .container .sec.aboutus
{
    width: 40%;
}
footer .container h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 2.2rem;
}
footer .container h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 5px;
    background: #0a1eff;
}
footer p
{
    color: #999;
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
}
.sci
{
    margin-top: 20px;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.8rem;
}
.sci li a:hover
{
    background: #ff38b4;
}
.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quickLinks
{
    position: relative;
    width: 25%;
}
.quickLinks ul li
{
    list-style: none;
    text-align: left;
    padding-left: 0px;
}
.quickLinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover
{
    color: #fff;
}
.contact
{
    width: calc(35% - 60px);
    margin-right: 0 !important ;
}
.contact .info
{
    position: relative;
}
.contact .info li
{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span
{
    color: #999;
}
.contact .info li a
{
    color: #999;
    text-decoration: none;
    font-size: 1rem;
}
.contact .info li a:hover
{
    color: #fff;
}
.copyrightText
{
    width: 100%;
    background: #222;
    padding: 8px 100px;
    text-align: center;
}
.copyrightText p{
  text-align: center;
  color: #999;
  font-weight: 300;
  font-size: 14px;
}

.scene{
  position: relative;
  width: 100%;
  height: 340px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene i {
  position: absolute;
  top: -250px;
  background: #b1e635;
  animation: animateStars linear infinite;
}
@keyframes animateStars{
  0%
  {
      transform: translateY(0);
  }
  100%
  {
      transform: translateY(200vh);
  }
}
.scene .rocket{
  position: relative;
  animation: animate 1s ease infinite;
}
.rocket img{
  width: 100px;
}
@keyframes animate{
  0%,100%
  {
      transform: translateY(-5px);
  }
  50%
  {
      transform: translateY(5px);
  }
}
.scene .rocket::before
{
  content: '';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#ff38b4,transparent);
}
.scene .rocket::after
{
  content: '';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#ff38b4,transparent);
  filter: blur(10px);
}

.nav{
  text-align: right;
  height: 70px;
  line-height: 70px;
  z-index: 10;
}
.menu{
  margin: 0px;
}
.menu a{
  clear: right;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 10px;
  line-height: 25px;
}
.menu a:hover{
  color:#fff;
}
label{
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: #daf1ff;
}
#toggle{
  display: none;
}
.botao{
  background-color:#DFFD53;
  color: black;
  border: none;
  padding: 5px 20px;
  margin-top: 3%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s ease all;
}
.botao:nth-child(1)
{
  height: 50px;
  border-radius: 10px;
}
.botao:hover{
  opacity: .7;
  color: #000;
  background: white;
}
.icone{
  width: 20px;
  height: auto;
}
#imagem-wpp{
  width: 40px;
  height: auto;
  margin: 0;
}
#link-imagem-wpp{
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #25D366;
  padding: 15px 15px 10px 15px;
  border-radius: 100%;
  z-index: 102;
  box-shadow: 0 0 30px -10px #25D366;
}


@media (max-width: 800px){
  label{
      display: block;
      cursor: pointer;
  }
  .menu{
      text-align: center;
      width: 100%;
      display: none;
  }
  .menu a{
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
  }
  #toggle:checked + .menu{
      display: block;
      background-color: rgba( 2, 2, 2, 0.9 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.8 );
      padding: 10px 20px;
      border-radius: 15px;
  }
  #toggle:checked + .nav{
    margin-bottom: 100px;
  }
  .scene{
    height: 300px;
  }

  #services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 50px 30px;
  }
  #grade-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin: 0px;
  }
  .caixa-service{
    width: 100%;
    padding: 10px 0;
  }
  .linha-caixa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
  .linha-caixa h3{
    font-weight: 300;
    font-size:1.6rem;
    line-height: 1.6rem;
  }
  .imagem-caixa{
    width: 25%;
    height: auto;
    opacity: 50%;
  }
  h1{
    font-size: 3rem;
    line-height: 3rem;
  }
  h2{
    font-size: 2.5rem;
  }

#empresa{
  background-color: #d1ed52;
  padding: 10px 20px 0px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
  #empresa h2{
    font-size: 2.5rem;
    line-height: 2.4rem;
  }
  footer
    {
        padding: 40px 40px 0px 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer p
    {
      font-size: 14px;
      line-height: 20px;
      width: 100%;
    }
    footer .container .sec
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact
    {
        width: 100%;
    }
    .copyrightText
    {
        padding: 8px 40px;
        text-align: center;
    }
    #home{
padding: 60px 30px;
padding-top: 130px;
    }
}
